[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "extern/psvm"]
	path = extern/psvm
	url = https://github.com/ethanl21/psvm.git
	branch = main
	ignore = dirty
